<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22210022984-nst5iduu48lk72c0c8i8detslefspq9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22210022984-nst5iduu48lk72c0c8i8detslefspq9t</string>
	<key>API_KEY</key>
	<string>AIzaSyAJAOwBC-c2mksR3uUQT77JmOPQTYjAKx4</string>
	<key>GCM_SENDER_ID</key>
	<string>22210022984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hello</string>
	<key>PROJECT_ID</key>
	<string>hasnain-zaidi</string>
	<key>STORAGE_BUCKET</key>
	<string>hasnain-zaidi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22210022984:ios:3ccbf4d0f07c7ecf7bd27d</string>
</dict>
</plist>